// 字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
// 颜色定义规范
$color-background = #fff
$color-background-b = #e6e6e6
$color-background-f = #333
$color-text = #333
$color-text-b = rgba(53, 53, 53, 0.5)
$color-text-b-sub = #999
$color-text-h = #31c27c
$color-text-d = rgba(255, 255, 255, 0.5)

